straight/
eln-cache/
tree-sitter/
undo-fu-session/
recentf
places
org-roam.db
history
.session
.emacs*
auto-save-list/
tramp
transient/
elpa/
.lsp-session
.org-id-locations
bookmarks
.venv
.pixi/*
!.pixi/config.toml
ellama-sessions/
elpa*
forge-database*
org-clock-save.el
persist/
persp-confs/
projectile*
request/
site-lisp/
spell-fu/
url/
projects
.cache/
.lsp-session*
